body{ 
    color: #ffffff;
    /* background-image: url("../assets/_.jpeg"); */
    font-family: 'Open Sans', sans-serif;
    margin: 10px 20px 10px 20px;
    background-color: black;
    /* background: linear-gradient(311deg, #5EC0DF 0%, #FFF 100%, rgba(255, 255, 255, 0.00) 100%); */
    background-size: cover;
    background-repeat: no-repeat;

}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
    box-sizing: border-box;
    line-height: 1.5em;
}

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}


.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-area {
  background: transparent,
  /* url(https://images.unsplash.com/photo-1528353518104-dbd48bee7bc4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80); */
  background-position: center center;
  background-size: cover;
}
/* default css end */


/* navbar regular css start */
.navbar-area {
  background: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #ffffff;
}
.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a.site-logo {
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.site-navbar ul li a {
  color: #ffffff;
  padding: 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
.site-navbar ul li a:hover {
  background: rgba(255,255,255,.1);
}

.site-navbar ul li button {
  background: transparent;
  color: white;
  outline: none;
  box-shadow: none;
  padding: 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
.site-navbar ul li button:hover {
  background: rgba(255,255,255,.1);
}
/* navbar regular css end */


/* nav-toggler css start */
.nav-toggler {
  border: 3px solid #fff;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}
.nav-toggler span, 
.nav-toggler span:before, 
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: .3s;
}
.nav-toggler span:before {
  content: '';
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: '';
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}
/* nav-toggler css start */


/* intro-area css start */
.intro-area {
  height: calc(100vh - 61px);
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}
.intro-area h2 {
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
  margin-bottom: 25px;
}
.intro-area p {
  font-size: 18px;
}
/* intro-area css end */


/* mobile breakpoint start */
@media screen and (max-width: 767px) {
  .container {
    max-width: 720px;
  }
  /* navbar css for mobile start */
  .nav-toggler{
    display: block;
  }
  .site-navbar {
    min-height: 60px;
  }
  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #444;
    background-color: rgba(0,0,0,.75);
    max-height: 0;
    overflow: hidden;
    transition: .3s;
  }
  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }
  .site-navbar ul li a {
    padding: 25px;
  }
  .site-navbar ul li a:hover {
    background-color: rgba(255,255,255,.1);
  }
  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }
  .intro-area h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }  
  /* navbar css for mobile end */
}
/* mobile breakpoint end */

  /* .greeting-card{
    padding: 30px;
    border-radius: 3rem;
    border-style:dashed;
    border-color: #000000;
    height: 10rem;
    width: full;
    font-size: 1.4rem;
    margin: 20px 0 20px 0;
  }



  .content-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: right;
    align-items: center;
    padding: 30px;
    border-radius: 50px;
    border: 4px solid #2A0F3F;
    height: auto;
    width: auto;
    font-size: 1.4rem;
    font-family: 'Cormorant Garamond', 'serif';
    margin: 20px 0 20px 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  .content-card::before,
.content-card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  transform-origin: right center;
  opacity: 0;
  pointer-events: none;
  border-radius: 0 50px 50px 0;
}

.content-card::after {
  content: "Start";
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: #2A0F3F;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding-right: 20px; /* Add padding for spacing from the ripple */
/* }
.content-card:hover::before {
    animation: ripple 1.1s linear ;
  }
  
  @keyframes ripple {
    0% {
      width: 0;
      opacity: 0.8;
    }
    100% {
      width: 100%;
      opacity: 0;
    }
  }
  

  @media screen and (min-width: 768px){
    body{
      margin: 0 10rem 0 10rem;
    }
  }

  .button {
    position: relative;
    color: white;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid white;
    border-radius: 1000px;
    padding: 10px 20px;
    margin: 40px;
    box-shadow: 0 2px 5px 0 rgba(3,6,26,0.15);
    transition: .5s all ease-in-out;
    &:hover {
      cursor: pointer;
      background: white;
      color: #1F4141;
      animation: none;

    }
  }

  .button-pulse {
    animation: pulse 2s infinite 3s cubic-bezier(0.25, 0, 0, 1);
    box-shadow: 0 0 0 0 white;
  }
  @keyframes pulse {
    to {
      box-shadow: 0 0 0 18px rgba(255, 255, 255, 0); 
    }
  }

  @media screen and (min-width: 768px){
    .main-container{
      display: flex;
      flex-direction: column;
      margin: 0 100px 0 100px;
      justify-content: center;
      align-items: center;
    }
    .content-card {
    width: 75%;
      height: 20rem;
      display:grid;
      grid-template-columns: repeat(3,1fr);
      justify-content: center;
    }
    .greeting-card{
        width: 75%;
      height: 20rem;
      font-size: 2rem;
      padding: 3rem;
    }
  }

  .CTA-button{
    height: 35px;
    width: 100px;
    color: white;
    border-radius: 50px;
    border: none;
    justify-self: center;
    outline: none;
    background: #b621fe;
    border: none;
    z-index: 1;
  }  */
  
.main-div{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.landing {
  position: relative; /* Needed for positioning the background image */
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/landing.png");
  background-position: center center;
  background-size: cover;
  opacity: 0.4; /* Adjust opacity as needed */
  z-index: -1; /* Place the background behind other content */
}

.landing-content {
  text-align: center;
  font-size: 2rem;
  z-index: -1;
}

.services {
  width: 80%;
  padding: 1rem;
  position: relative;
}


.services-member {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.services-member{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.services-member-element{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.services-member-button{
  height: 2rem;
  width: 5rem;
  background-color: #9BD770;
  color: #8400FF;
  border-radius: 50px;
  text-align: center;
  align-self: center;
}

.services::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15px; /* Adjust the height of the wavy border */
  background: url('path-to-wavy-image.png') repeat-x center; /* Use a wavy image as the background */
  transform: translateY(100%);
  z-index: -1;
}

.custom-shape-divider-top-1691423606 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1691423606 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 175px;
}

.custom-shape-divider-top-1691423606 .shape-fill {
  fill: #F5AA39;
}

@media (min-width:1024px){
  .services-member{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
  }
}